.toastWrapper {
    position: fixed;
    left: 10px;
    bottom: 10px;
    height: 20px;
    width: 250px;
    background-color: lightblue;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}